/*
/// Business card
Stretch goals:
    Find other ways you can personalize 
    the design of your business card, e.g.:
    -d change the border(s)
    -d add border radius
    -d shuffle the layout
    - shadows        🤯
    - hover effects  🤯🤯
    - animations     🤯🤯🤯
Web safe fonts:
    sans-serif:     Arial, Verdana, Tahoma, Trebuchet MS
    serif:          Times New Roman, Georgia, Garamond
    mono/cursive:   Courier New, Brush Script MT
Colors: f0ead2, dde5b6, adc178, a98467, 6c584c
Center vertically
    .container { height: 200px; position: relative; border: 3px solid green; }
    .vertical-center { margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); }
Center vertically and horizontally
    .center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
*/

$text: #f0ead2;
$secondary: #a98467;
$accent: #dde5b6;
$background: #adc178;
$primary: #6c584c;

body { margin: 0; padding: 0; font-size: 16px; }
.DottedBorder { border: 2px dotted $accent; }

/*07-07-2023-09-10*/
.BusinessCard { width: 100vw; height: 100vh; background: $background; }
    .Card { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-bottom: 0.5rem solid $secondary; border-radius: 1rem; padding: 1rem; background: $primary; color: $text;
    @media (min-width: 450px) { display: flex; width: 24rem }
    @media (min-width: 750px) { width: 31.25rem; }
    }
        .ContainerCardImage { margin: 1.5rem 0;
        @media (min-width: 450px) { margin: 1.940625rem 0 1.940625rem 1.2rem; }
        @media (min-width: 750px) { margin: 1.940625rem 0 1.940625rem 1.940625rem; }    
        }
            .CardImage { display: block; margin: 0 auto; border-radius: 1rem; }
        .CardDetails { display: block;  margin: 0 auto; max-width: 222px; text-align: center; }
/*07-07-2023-12-55*/